/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 5%;
    padding: 0;
}
.bnt{
    margin-top: 5%;
}
.labelAling{
    margin-bottom: 32px;
}